body {
  background-color: #696969;
  font-family: 'Open Sans', sans-serif;
}

#imageSupport {
  width: 100%;
  height: 100%;
  background-size: 100%;
}


#shell {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}


#main {
  width: 30%;
  margin: auto;
  border: solid 1px black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7)
}

#footer {
  margin: 0 5px 0 0;
  position: fixed;
  bottom: 10px;
  right: 10px;

}

a {
  color: #800000;
}
